
.veg-icon {
    color: green; 
}

.price {
    font-weight: bold;
    font-size: 1.2em;
}

.menu-section {
    margin-bottom: 5rem;
}

.section-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #264653; 
}

.menu-item .card {
    border: none; 
    border-radius: 15px; 
    transition: transform 0.10s; 
}

.menu-item .card:hover {
    transform: scale(1.05); 
}

.menu-item .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px; 
    object-fit: cover; 
}

.menu-item .card-body {
    text-align: center; 
}

.price {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #e76f51; 
}